{% extends 'leyauts/base.html' %}


{% block content %}


    <div class="row w-100 ">
        <div class="col-2 ">
            <div class="position-fixed  h-100 category tutorial-nav">
                {% for book in books %}
                    <a href="{% url 'text' book.pk %}" {% if book.id == cat_id %}
                       style="background: #04AA6D; color:white;" {% endif %}>{{ book.theme_name }}</a>
                {% endfor %}
            </div>

        </div>


        <div class="col-8 ">
            {% if texts %}
                <p>{{ texts.text|safe }}</p>
            {% endif %}

        </div>


        <div class="col-2 right ">
            <di class=" position-fixed h-100">
                <p>ADVERTISEMENT</p>
            </di>
        </div>
    </div>

{% endblock %}



